<!DOCTYPE html>
<html>

<head>
    <title>Error <%= title %></title>
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <span id="title"><%= title %></span>
    <span id="message"><%= message %></span>
</body>

</html>
